
body {
	font-family: monospace;
	color: rgb(86, 91, 97);
	margin: 40px;
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 1em;
	background-color: black;

}
.hero h1 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 50px;
	margin-right: -70px;
	color: rgb(66, 61, 61);
	
	
}

* {
	box-sizing: border-box;
}

header {
	font-size: 20px;
	font-variant: small-caps;
	font-family: sans-serif;
    display: grid;
	background: rgb(66, 61, 61);
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
	grid-gap: 10px;
	
}

header .brand {
	justify-self: center;
    padding: 10px;
	grid-column: 1/6;
	position: relative;
	left: -60px;
}




header a {
	text-decoration: none;
}

header .nav {
    
    grid-column: 1/4;
    margin-top: 0px;
    margin-left: -50px;
}

header ul {
	background: rgb(2, 101, 163);
    list-style: none;
	margin: 0;
	padding-left: 0;
}

header ul li {
	color: rgb(66, 61, 61);
	background: rgba(24, 35, 48, 0.555);
	display: none;
	float: left;
	padding: 5px;
	position: relative;
	margin-right: 1px;
	text-decoration: none;
	transition-duration: 0.3s;
	border-radius: 40px;
	
}
header ul li.mobile,
header ul li ul li
{
    display: block;
}
 

header ul li a {
	color: rgb(255, 255, 255);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	

}

header ul li:hover,
header ul li:focus-within {
	background:  rgb(66, 61, 61);
	cursor: pointer;
	animation-name: kutu;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	
	
}
@keyframes kutu {
100% {
	transform: scale(1.2) translate(0px, 20px);
	

}
}
	
header li:focus-within a {
	outline: none;
}

header ul li ul {
	background: rgb(166, 202, 93);
	visibility: hidden;
	opacity: 0;
	min-width: 5rem;
	position: absolute;
	transition: all 0.5s ease;
	margin-top: 1rem;
	left: 0;
	display: none;
}


/* Menu: Events */

header ul li:hover>ul,
header ul li:focus-within>ul,
header ul li ul:hover,
header ul li ul:focus {
	visibility: visible;
	opacity: 1;
	display: block;
}

header ul li ul li {
	clear: both;
	width: 100%;
}


/* Menu: End */


/* Tolls: Start */
header .tools {
    grid-column: 4/6;
    justify-self: center;

}

header .tools input[type=text] {
	width: 195px;
	padding: 4px 5px;
    margin: 20px 30px;
	border: 2px solid rgb(221, 207, 207);
	border-radius: 50px;
}

h1 {
    padding: 10px;
	justify-self: center;
    align-items: center;
    text-align: center;
}
/* Tolls: End */

.phone-ad img,
.hero-feature img {
	width: 50%;
	max-width: 300px;
}
.hero-feature,.desktop-ad, aside {
    display: none;
}

footer {
	text-align: center;
	margin-top: 20px;
	padding: 10px;
	justify-self: center;
	align-items: center;
	line-height: 20px;
}


/**
* Tablet
*/

@media only screen and (min-width: 533px) {
    body {
		grid-template-columns: 1fr 1fr;
	}
	header,
	footer,
	.hero,
	.main {
		grid-column: 1/3;
	}
	header .brand {
		grid-column: 1/4;
	}
	header .nav {
        grid-column: 4/5;
        align-items: center;
        align-self: center;
	}
	header .tools {
        grid-column: 5/6;
        align-items: center;
        align-self: center;
	}
	.hero-feature img,
	header ul li {
		display: block;
	}
	.main {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}
	.main .article-feature {
		grid-column: 1/4;
	}
	.main .phone-ad {
        grid-column: 4/6;
    }
    .main .phone-ad img {
        width: 120%; 
    }
	.main .article-listing,
	aside {
		grid-column: 1/6;
	}
	aside {
		display: block;
	}
	header ul li.mobile {
		display: none;
	}
    
}

@media only screen and (max-width: 533px) {
	
	body {
		grid-template-columns: 1fr 1fr;
	}
	header{
		font-size-adjust: initial;
	}
	footer,
	.hero,
	.main {
		grid-column: 1/3;
	}
	header .brand {
		grid-column: 2/1;
		display: inline;
		
	}
	header .nav {
        grid-column: 5/5;
        align-items: center;
        align-self: center;
	}
	header .tools {
        grid-column: 5/5;
        align-items: center;
        align-self: center;
	}
	.hero-feature img,
	header ul li {
		display: block;
	}
	.main {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}
	.main .article-feature {
		grid-column: 1/4
	}
	.main .phone-ad {
        grid-column: 4/6;
    }
    .main .phone-ad img {
        width: 120%; 
	}
	.main .hero-feature {
		grid-column: 5/6;
	}
	.main .article-listing,
	aside {
		grid-column: 1/6;
	}
	aside {
		display: block;
	}
	header ul li.mobile {
		display: none;
	}	

}

/**
* Desktop
*/
@media only screen and (min-width: 992px) {
    header {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    header .brand {
		grid-column: 1/2;
	}
	header .nav {
        grid-column: 3/5;
        align-items: center;
        align-self: center;

	}
	header .tools {
        grid-column: 5/6;
        align-items: center;
        align-self: center;
	}
    .hero {
        grid-template-columns: repeat(5, 1fr);
        grid-column: 1/2;
		display: grid;
		 
    }
    .hero .hero-feature,
	.hero .emphasize {
		margin-top: auto;
		margin-bottom: auto;
	
    
	}

    .hero .hero-feature {
        display: block;
        grid-column: 1/4;
	}
    .hero .hero-feature img{
        width: 100%;
    }

	.hero .emphasize {
        padding-left: 100px;
		grid-column: 5/6;
		margin-left: -10px;
    }
    .desktop-ad {
        display: block;
		grid-column: 2/3;
		
    }
	.desktop-ad img {
        width: 150%;
		max-width: 400px;
		float: right;
		margin-right: -40px
    }
    
    .phone-ad {
        display: none;
    }
    .main {
            
            grid-gap: 20px;
            grid-template-columns: repeat(5, 1fr);
        }

    .main .article-feature {
    
       
        grid-column: 1/2;
    }
    .main .article-listing {
        
       
        grid-column: 2/5;
    }
    aside {
    
        grid-column: 5/6;
    }
}
